<footer>

    <style>
        /*#page-container {
            position: relative;
            min-height: 100vh;
        }

        #content-wrap {
            padding-bottom: 2.5rem;
            Footer height
        }*/

        #footer {
            /* position: absolute;
            bottom: 0; */
            width: 100%;
            height: 2.5rem;
            text-align: center;
            /* Footer height */
            font-size: 15px;
        }
    </style>

    <div id="page-container">
        <div id="content-wrap">
            <!-- all other page content -->
        </div>
        <hr>
        <footer id="footer">
            <i>Website ini dibuat oleh realalf1 2024</i>
        </footer>
    </div>

    
</footer>